  <h1>Latian Angular|Dimas Nurzullah Eka Nugraha</h1>
    <h2>Latian Angular Material</h2>
<button matBadge="1" matBadgeColor="warn" mat-raised-button color="primary">Welcome</button>

<div>
    <button matBadge="10" matBadgeColor="accent" matBadgePosition="below" matBadgeSize="small" mat-raised-button color="primary">Percobaan mat badge pertama</button>
</div>
<br>
<div>
  <button matBadge="10" matBadgeHidden="false" matBadgeColor="accent" matBadgePosition="before" matBadgeOverlap="false" matBadgeSize="large" mat-raised-button color="primary">Percobaan mat badge kedua</button>
</div>
